# App Configuration
PUBLIC_URL=https://url-to-api.com
PORT=3000
DOWNLOADS_FOLDER=/absolute/path/to/downloads/folder

# Email Configuration (SMTP)
EMAIL_SENDER=no-reply@example.com
EMAIL_RECIPIENTS=recipient1@example.com,recipient2@example.com
EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_USER=your_smtp_username
EMAIL_PASS=your_smtp_password

# HTTPS Configuration (Optional)
HTTPS_PRIVATE_KEY=/absolute/path/to/private.key
HTTPS_CERTIFICATE=/absolute/path/to/certificate.crt