:root {
  --charcoal-dark: #2c3e50;
  --charcoal-light: "#96a4b1";
  --isabelline: #edede9;
  --linen: #f5ebe0;
  --cream: #ffe5cb;
  --champagne-pink: #e3d5ca;
  --pale-dogwood: #d5bdaf;
  --timberwolf: #a59380;
  --spruce: #614e3a;
  --dark-spruce: #2c2114;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#app {
  position: relative;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--charcoal-dark);
  height: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--pale-dogwood);
  box-shadow: 0 5px 10px rgba(44, 33, 20, 0.15);
  z-index: 10;
  user-select: none;
  ul {
    display: flex;
    height: 100%;
    list-style: none;
  }
  a {
    display: flex;
    align-items: center;
    /* width: 50px; */
    height: 100%;
    padding: 0 30px;
    margin: auto 0;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
    color: var(--spruce);
    transition: background-color 0.3s, letter-spacing 0.3s, padding 0.3s;
  }
  a:hover,
  a:focus,
  .active-tab {
    background-color: var(--champagne-pink);
    /* display: fixed; */
    /* letter-spacing: 1.5px; */
    /* letter-spacing: 1.5px; */
    /* padding: 0 35px; */
    overflow: none;
    outline: none;
  }
  .menu-icon {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    left: 0;
    color: var(--spruce);
  }
  .menu-icon:hover,
  .menu-icon:focus {
    background-color: var(--champagne-pink);
  }
}

.bg {
  position: fixed;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: -10;
  overflow: hidden;
  user-select: none;
}

.main-container {
  position: relative;
  height: 100%;
}

.button {
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  border: 0;
  letter-spacing: 1.5px;
  font-size: 1.2rem;
  color: var(--spruce);
  background-color: var(--pale-dogwood);
  border-radius: 8px;
  z-index: 2;
  box-shadow: 0 2px 5px 1px rgba(44, 33, 20, 0.3);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.button:hover,
.button:focus {
  color: var(--dark-spruce);
  background-color: var(--champagne-pink);
  box-shadow: 0 2px 5px 1px rgba(44, 33, 20, 0.6);
  transform: scale(0.97);
  outline: none;
}

.link-cv {
  text-decoration: none;
  color: var(--charcoal-light);
  transition: color 0.3s, text-shadow 0.3s;
}
.link-cv:hover,
.link-cv:focus {
  text-decoration: underline;
  color: var(--timberwolf);
  text-shadow: 0 0 50px rgba(44, 33, 20, 1);
  outline: none;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  bottom: -100px;
}
.footer-waves {
  position: absolute;
  width: 100%;
  height: 85px;
  bottom: 17px;
  user-select: none;
  z-index: 1;
  img {
    width: 100%;
    height: 85px;
  }
}
.footer-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: var(--pale-dogwood);
  z-index: 2;
  a {
    padding: 0 20px;
  }
  p {
    display: flex;
    span {
      padding: 0 2px;
      font-size: 0.9rem;
    }
  }
  .icon {
    fill: var(--dark-spruce);
    transition: fill 0.3s, transform 0.3s;
    svg {
      height: 25px;
    }
  }
  .icon:hover,
  .icon:focus {
    fill: var(--spruce);
    transform: scale(1.1);
    outline: none;
  }
}

.tiny-screen {
  flex-direction: column;
  span {
    padding: 0;
  }
}

#projects {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--spruce);
  font-size: 1.5rem;
}

#contact {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--spruce);
  font-size: 1.5rem;
  h1 {
    margin: 50px 0;
  }
  p {
    margin: 30px 20px 50px 20px;
  }
  span {
    font-size: 0.8rem;
  }
}

.contact-form {
  display: grid;
  width: 80%;
  max-width: 600px;
  margin-bottom: 50px;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr 3fr;
  > label {
    width: 100%;
    padding-right: 40px;
    text-align: right;
    align-self: center;
    font-size: 1.2rem;
  }
  > input {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    margin: 10px 0;
    align-self: center;
    border: 0;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.3s;
  }
  > input:focus {
    box-shadow: 0 0 10px 3px rgba(44, 33, 20, 0.15);
  }
  > textarea {
    width: 100%;
    min-height: 120px;
    padding: 5px 10px;
    margin: 10px 0;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    border: 0;
    border-radius: 5px;
    resize: none;
    outline: none;
    transition: box-shadow 0.3s;
  }
  > textarea:focus {
    box-shadow: 0 0 10px 3px rgba(44, 33, 20, 0.15);
  }
  > button {
    grid-column: span 2;
    justify-self: center;
    width: 100px;
    margin-top: 25px;
  }
}

.text-animation {
  animation: anim-text-start 1s normal;
}

@keyframes anim-text-start {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* @keyframes anim-name-down {
  0% {
    margin-top: -3rem;
    opacity: 0;
    transform: scale(1.2);
  }
  1% {
    transform: scale(1.075);
  }
  5% {
    margin-top: 1rem;
  }
  7% {
    margin-top: -0.5rem;
    transform: scale(1);
    opacity: 1;
  }
  8% {
    margin-top: 0.25rem;
  }
  10% {
    margin-top: -0.125rem;
  }
  11% {
    margin-top: 0.0625;
  }
  12% {
    margin-top: 0;
  }
  85% {
    margin-top: 0;
    opacity: 1;
    transform: scale(1);
  }
  95% {
    margin-top: 2rem;
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    margin-top: 3rem;
    transform: scale(1.1);
    opacity: 0;
  }
} */

/********** Media queries **********/

/* Mobiles */
@media only screen and (max-width: 600px) {
  .navbar {
    ul {
      position: absolute;
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      width: 200px;
      height: 150px;
      left: 0;
      top: 50px;
      background-color: var(--pale-dogwood);
      box-shadow: 5px 7px 8px rgba(44, 33, 20, 0.15);
      z-index: 11;
      * {
        padding: 0;
      }
      li {
        width: 100%;
        height: 100%;
      }
      a {
        height: 50px;
        padding: 0 25px;
      }
      a:hover,
      a:focus {
        padding: 0 30px;
      }
    }
    .show {
      display: flex;
    }
    .menu-icon {
      display: flex;
    }
  }
}

/* Vertical tablets */
@media only screen and (min-width: 601px) and (max-width: 900px) {
}

/* Horizontal tablets */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
}

/* Laptops and desktop monitors */
@media only screen and (min-width: 1201px) {
}

/******************************/

@media screen and (max-width: 767px) {
  /* .welcome-title {
    top: 5%;
    padding: 0 20px;
    font-size: 1.825rem;
  } */

  /* .anim-name {
    font-size: 2.25rem;
  } */

  /* .name-text {
    top: 25%;
    font-size: 1.125rem;
  } */

  /* .anim-name {
    flex-direction: column;
    height: 7rem;
  } */

  /* .welcome-description {
    top: 55%;
    p {
      min-width: 300px;
      font-size: 0.8rem;
      padding-bottom: 20px;
    }
  } */

  /* .welcome-portfolio-btn {
    top: 72%;
  } */

  /* .arrow-down {
    font-size: 2.25rem;
  } */

  /* #about {
    padding-top: 70px;
    h2 {
      margin-bottom: 30px;
      font-size: 1.875rem;
    }
  } */

  /* .profile {
    flex-direction: column;
    margin-bottom: 30px;
  } */

  /* .profile-img {
    height: 150px;
  } */

  /* .profile-details {
    padding: 20px 0 0;
    p {
      width: 100%;
      font-size: 0.75rem;
      padding: 0;
      margin-bottom: 0;
    }
  } */

  /* .profile-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h4 {
      font-size: 1.125rem;
      font-weight: 600;
      margin: 30px 0 10px;
    }
    a {
      width: 50%;
      font-size: 0.9rem;
    }
  } */

  /* .skills {
    h3 {
      font-size: 1.5rem;
      padding: 10px 0;
    }
  } */

  /* .carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
  } */

  /* .carousel {
    width: 250px;
    height: 50px;
    overflow: hidden;
  } */

  /* .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    column-gap: 0;
    list-style: none;
    grid-auto-flow: column;
  }
  .skills-list li {
    min-width: 50px;
    height: 50px;
    img {
      width: 30px;
      height: 30px;
    }
    span {
      font-size: 0.5rem;
      padding-top: 5px;
    }
  } */

  /* #contact {
    h1 {
      margin: 30px 0;
      font-size: 1.825rem;
    }
    p {
      margin: 10px 20px 20px;
    }
  }
  .contact-form {
    max-width: 300px;
    > label {
      min-width: 100px;
      padding-right: 10px;
      font-size: 1rem;
    }
    > textarea {
      min-height: 90px;
    }
  } */

  @keyframes anim-name-down {
    0% {
      margin-top: -7rem;
      opacity: 0;
    }
    5% {
      margin-top: 2rem;
    }
    7% {
      margin-top: -1rem;
    }
    8% {
      margin-top: 0.5rem;
      opacity: 1;
    }
    10% {
      margin-top: -0.25rem;
    }
    11% {
      margin-top: 0.125;
    }
    12% {
      margin-top: 0;
    }
    85% {
      margin-top: 0;
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    95% {
      margin-top: 7rem;
    }
    100% {
      margin-top: 7rem;
    }
  }
}
