:root {
  --charcoal-dark: #2c3e50;
  --isabelline: #edede9;
  --champagne-pink: #e3d5ca;
  --pale-dogwood: #d5bdaf;
  --timberwolf: #a59380;
  --spruce: #614e3a;
  --dark-spruce: #2c2114;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

#app {
  position: relative;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--charcoal-dark);
  height: 100%;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--pale-dogwood);
  box-shadow: 0 5px 10px rgba(44, 33, 20, 0.15);
  z-index: 10;
  user-select: none;
  ul {
    display: flex;
    height: 100%;
    list-style: none;
  }
  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    margin: auto 0;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
    color: var(--spruce);
    transition: background-color 0.3s, letter-spacing 0.3s, padding 0.3s;
  }
  a:hover,
  a:focus,
  .active-tab {
    background-color: var(--champagne-pink);
    overflow: none;
    outline: none;
  }
  .menu-icon {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    left: 0;
    color: var(--spruce);
  }
  .menu-icon:hover,
  .menu-icon:focus {
    background-color: var(--champagne-pink);
  }
}
/****/

.bg {
  position: fixed;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: -10;
  overflow: hidden;
  user-select: none;
}

.main-container {
  position: relative;
  height: 100%;
}

.button {
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  border: 0;
  letter-spacing: 1.5px;
  font-size: 1.2rem;
  color: var(--spruce);
  background-color: var(--pale-dogwood);
  border-radius: 8px;
  z-index: 2;
  box-shadow: 0 2px 5px 1px rgba(44, 33, 20, 0.3);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.button:hover,
.button:focus {
  color: var(--dark-spruce);
  background-color: var(--champagne-pink);
  box-shadow: 0 2px 5px 1px rgba(44, 33, 20, 0.6);
  transform: scale(0.97);
  outline: none;
}

.link {
  color: var(--spruce);
  transition: color 0.3s, text-shadow 0.3s;
}
.link:hover,
.link:focus {
  color: var(--timberwolf);
  text-shadow: 0 0 20px rgba(44, 33, 20, 0.2);
  outline: none;
}
.link-light {
  color: var(--pale-dogwood);
  transition: color 0.3s, text-shadow 0.3s;
}
.link-light:hover,
.link-light:focus {
  color: var(--timberwolf);
  text-shadow: 0 0 20px rgba(237, 237, 233, 0.7);
  outline: none;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  bottom: -100px;
}
.footer-waves {
  position: absolute;
  width: 100%;
  height: 85px;
  bottom: 17px;
  user-select: none;
  z-index: 1;
  img {
    width: 100%;
    height: 85px;
  }
}
.footer-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: var(--pale-dogwood);
  z-index: 2;
  a {
    padding: 0 20px;
  }
  p {
    display: flex;
    span {
      padding: 0 2px;
      font-size: 0.9rem;
    }
  }
  .icon {
    fill: var(--dark-spruce);
    transition: fill 0.3s, transform 0.3s;
    svg {
      height: 25px;
    }
  }
  .icon:hover,
  .icon:focus {
    fill: var(--spruce);
    transform: scale(1.1);
    outline: none;
  }
}

.tiny-screen {
  flex-direction: column;
  span {
    padding: 0;
  }
}
/****/

.text-animation {
  animation: anim-text-start 1s normal;
}

@keyframes anim-text-start {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/********** Media queries **********/

/* Mobiles */
@media only screen and (max-width: 600px) {
  .navbar {
    ul {
      position: absolute;
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      width: 200px;
      height: 150px;
      left: 0;
      top: 50px;
      background-color: var(--pale-dogwood);
      box-shadow: 5px 7px 8px rgba(44, 33, 20, 0.15);
      z-index: 11;
      * {
        padding: 0;
      }
      li {
        width: 100%;
        height: 100%;
      }
      a {
        height: 50px;
        padding: 0 25px;
      }
      a:hover,
      a:focus {
        padding: 0 30px;
      }
    }
    .show {
      display: flex;
    }
    .menu-icon {
      display: flex;
    }
  }
}

/* Vertical tablets */
@media only screen and (min-width: 601px) and (max-width: 900px) {
}

/* Horizontal tablets */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
}

/* Laptops and desktop monitors */
@media only screen and (min-width: 1201px) {
}

/******************************/
