#projects {
  height: 100%;
  color: var(--spruce);
  font-size: 1.5rem;
}

.button {
  font-size: 1rem;
  /* justify-content: center; */
  /* vertical-align: middle; */
}

.projs-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  img {
    margin-right: 10px;
    width: 100px;
  }
}

.projs-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 50px);
  justify-content: space-evenly;
  align-items: center;
}

.projs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 660px;
  margin: 0 20px;
  list-style: none;
}

.proj-card {
  flex: 1 0 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 200px;
  padding: 30px 10px;
  text-decoration: none;
  background-color: var(--champagne-pink);
  border-radius: 20px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  img {
    transform: scale(1);
    transition: scale 0.3s;
  }
}
.proj-card:hover {
  background-color: var(--champagne-pink);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  img {
    transform: scale(1.02);
  }
}

.proj-icon {
  width: 70px;
}

.proj-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh);
  padding: 100px 0 50px;
}

.proj-wip {
  width: 200px;
}

.projs-index-btn {
  font-size: 0.8rem;
  text-decoration: none;
}

.proj-techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  max-width: 800px;
  /* justify-content: space-evenly;
  min-width: 400px; */
}

.proj-tech {
  padding: 2px 10px;
  margin: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  background-color: var(--pale-dogwood);
}

.proj-description {
  max-width: 800px;
  padding: 20px;
  font-size: 1rem;
}

.check-github {
  font-size: 1rem;
}

.proj-btns {
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  * {
    margin: 5px 10px;
  }
}

.proj-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
}

.proj-img {
  width: 120px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--isabelline);
  padding: 30px;
  border-radius: 10px;
  min-height: 200px;
}

.popup-text {
  margin: 30px;
  text-align: start;
  font-size: 0.8rem;
  line-height: 2;
}

.popup-link-download {
  font-size: 0.8rem;
}

.popup-btn-close {
  width: 100%;
  max-width: 200px;
}

.btn-index {
  position: fixed;
  display: flex;
  /* bottom: -35px; */
  right: 30px;
  padding: 8px;
  text-decoration: none;
  color: var(--isabelline);
  background-color: var(--timberwolf);
  font-size: 1rem;
  border-radius: 5px;
  opacity: 0;
  z-index: 5;
  transition: opacity 0.5s, transform 0.8s;
}
.btn-index:hover {
  opacity: 0.9;
}
.btn-index-show {
  transform: translateY(-50px);
  opacity: 0.6;
}

.carousel-container-proj {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.carousel-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-proj {
  position: absolute;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0;
  padding: 20px;
  overflow: auto;
}

.carousel-img {
  position: relative;
  left: 0;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(227, 213, 202, 0.5);
}

.carousel-btn-proj {
  position: absolute;
  color: var(--isabelline);
  z-index: 11;
}

.carousel-close {
  top: 30px;
  right: 30px;
  font-size: 1rem;
}

.carousel-prev {
  left: 30px;
}

.carousel-next {
  right: 30px;
}

@media only screen and (max-width: 600px) {
  .projs-title {
    flex-direction: column;
    img {
      margin: 0 10px;
      width: 75px;
    }
  }
  .projs-list {
    margin-top: 20px;
  }
  .proj-card {
    width: 112px;
    height: 150px;
    padding: 20px 10px;
    font-size: 1.4rem;
  }
  .proj-icon {
    width: 40px;
  }
  .proj-btns {
    flex-direction: column;
  }
  .carousel-btn {
    font-size: 1rem;
  }
  .carousel-close {
    top: 20px;
    right: 20px;
  }
  .carousel-prev {
    left: 20px;
  }
  .carousel-next {
    right: 20px;
  }
}
